body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-container {
  max-width: 90%;
  width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 20px;
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8x 0px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  min-height: 60px;
  max-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.lottie-icon {
  width: 10%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
  margin-left: 10px;
}

button:hover {
  background-color: #218838;
}

p {
  color: red;
}

.success-message {
  color: #28a745;
}

.error-message {
  color: red;
  font-size: 0.8em;
  margin-top: 0.25em;
}

.sub-header {
  color: gray;
  font-size: 0.9em;

}

/* Media Queries for Responsiveness */
@media (max-width: 600px) {
  .form-container {
    width: 100%;
    padding: 10px;
    box-shadow: none;
  }

  button {
    padding: 12px 0;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .form-container {
    width: 80%;
  }
}